#header {
    background-color: rgb(154, 51, 52);
    padding: 8px 16px;
    margin: 0;
    box-sizing: unset;
    height: 64px;
}

#header img {
    margin-top: 10px;
    float: left;
}
#header nav {
    display: block;
}

#header nav ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    float: right;
    padding-right: 16px;
}

#header nav li {
    float: left;
    clear: none;
}

#header nav a {
    display: block;
    padding: 1.5em 1em;
    height: 1em;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
}

#header nav a:hover,
#header nav a:focus,
#header nav a:active {
    color: #f1f1d4;
}
