@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #replay-container a {
    @apply    hover:underline
  }

  #replay-detail-container a {
    @apply   hover:underline
  }

}


body {
  background-color: #f3f5f7;
}

.dropdown_customized:focus.rw-widget-picker:focus {
  border-color: white;
  box-shadow: none;
}

.radio_customized {
  background-color: #384983;
  color: white;
}

.bg-white {
  background-color: white;
}
