@tailwind base;
@tailwind components;
@tailwind utilities;

html, body
{
    font-family: monospace;
    margin: 0;
    padding: 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#wrapper {
    padding: 8px 32px;
}
