@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kalam";
  src: url("../public/assets/fonts/Kalam/Kalam-Regular.ttf");
}

body {
  background-color: #f3f5f7;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.toggle_config {
  width: 92px;
  height: 42px;
  border: 0px solid transparent;
}

.card_recap_visi {
  top: max(18.0%, 113px);
  right: max(2.0%, 26px);
}

@keyframes slidein {
  from {
    translate: 0%;
  }

  to {
    translate: 250%;
  }
}

.card_recap_stored {
  top: max(26.8%, 169px);
  right: -151px;
  /* think abouto how to modifi to have a godd alternative values in dnyamic */
  /* animation: slidein 1s forwards; */
}

.card_recap__hidden {
  top: max(26.8%, 169px);
  right: -300px;
}



.player_postit {
  width: 220.47px;
  height: 231.823px;
  transform: rotate(-5.223deg);
  bottom: max(280px, 44.35%);
  left: 0px;
}

.dropdown_customized.rw-widget-input {
  background-color: #384983;
  color: white;
}

/* .dropdown_customized.rw-widget-picker{

} */

.dropdown_customized:focus.rw-widget-picker:focus {
  border-color: white;
  box-shadow: none;
}

.radio_customized {
  background-color: #384983;
  color: white;

}

.bg-white {
  background-color: white;
}
